.home-container {
    width:100vw;
    min-height: 100vh;
    opacity: 0.6;
    position: relative;
    background: linear-gradient(263.35deg, rgba(73, 190, 255, 0.3) 28.29%, rgba(200, 82, 255, 0.28) 107.57%);
}
